# https://www.haproxy.com/blog/the-four-essential-sections-of-an-haproxy-configuration
# https://www.percona.com/blog/haproxy-patroni-setup-using-health-check-endpoints-and-debugging/
# https://stackoverflow.com/questions/68967624/how-to-access-docker-compose-created-replicas-in-haproxy-config

global
    # global settings here
    # The `maxconn` setting limits the maximum number of connections that HAProxy will accept.
    # Its purpose is to protect your load balancer from running out of memory.
    maxconn 100
    # The `log` setting ensures that warnings emitted during startup and issues that arise during runtime get logged to syslog.
    # It also logs requests as they come through
    log stdout format raw local0

defaults
    # defaults here
    # When operating HAProxy in TCP mode, which is set with `mode tcp`, `timeout server` should be the same as `timeout client`.
    mode tcp
    # The `timeout connect` setting configures the time that HAProxy will wait for a TCP connection to a backend server to be established.
    timeout connect 10s
    #  The `timeout client` setting measures inactivity during periods that we would expect the client to be speaking, or in other words sending TCP segments. 
    timeout client 30m
    # The `timeout server` setting measures inactivity when we’d expect the backend server to be speaking. When a timeout expires, the connection is closed. 
    timeout server 30m
    # The `timeout check` setting is the amount of time that HAProxy will wait for a response to a health check before it considers the backend server to be down.
    timeout check 5s
    # The `log global` setting is a way of telling each subsequent frontend to use the `log` setting that you defined in the `global` section.
    log global
    # The `option tcplog` setting enables logging of TCP connections with full details (client IP, port, timers, connection status).
    # This is recommended when using `mode tcp` (as opposed to `option httplog` which is for HTTP mode).
    option tcplog

frontend
    # a frontend that accepts requests from clients

backend
    # servers that fulfill the requests